<div class="h-screen w-screen flex items-center justify-center">
  <div class="flex flex-col items-center" @fadeInOut>
    <img
      class="shadow-xl rounded-full mb-8"
      src="/assets/brand.png"
      alt="brand_logo"
      width="64"
      height="64"
    />

    <div
      class="sm:dark:bg-gray-700 sm:bg-indigo-100 sm:shadow-xl rounded-md p-6"
    >
      <h1 class="text-lg dark:text-gray-100 text-center font-semibold">
        Welcome back
      </h1>
      <p class="text-gray-500 dark:text-gray-300 text-xs mt-1 text-center">
        Enter your credentials to access your account
      </p>
      <form class="mt-10" (ngSubmit)="handleLogin()" autocomplete="off">
        <div class="relative">
          <div class="px-2 absolute left-0 top-0 bottom-0 flex items-center">
            <app-mail-icon
              class="z-10"
              className="w-5 h-5 dark:stroke-gray-500 dark:fill-gray-500 fill-black stroke-black"
            ></app-mail-icon>
          </div>
          <input
            [disabled]="isLoading"
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Enter your email or username"
            class="w-full py-2 dark:placeholder:text-gray-400 dark:text-gray-50 bg-transparent common-input input-focus pl-8 rounded-md text-sm"
          />
        </div>
        <div class="min-h-[25px] text-red-500">
          <small *ngIf="errors?.email" @fadeIn> {{ errors?.email }} </small>
        </div>

        <div class="relative mt-2">
          <div class="px-2 absolute left-0 top-0 bottom-0 flex items-center">
            <app-lock-icon
              class="z-10"
              className="w-5 h-5 dark:stroke-gray-500 dark:fill-gray-500"
            ></app-lock-icon>
          </div>
          <input
            [disabled]="isLoading"
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Enter your password"
            class="w-full py-2 dark:placeholder:text-gray-400 dark:text-gray-50 bg-transparent common-input input-focus pl-8 rounded-md text-sm"
          />
        </div>
        <div class="min-h-[25px] text-red-500">
          <small *ngIf="errors?.password" @fadeIn>
            {{ errors?.password }}
          </small>
        </div>

        <p class="text-xs mt-4 dark:text-gray-200 text-center">
          By clicking on Sign In, You agree to our
          <a href="" class="anchor-link">terms and conditions</a>
        </p>
        <div class="flex text-xs mt-3 dark:text-gray-200">
          <input type="checkbox" [(ngModel)]="rememberMe" name="remember_me" />
          <span class="ml-1.5"> Remember Me </span>
        </div>

        <div
          class="min-h-[25px] mt-1 text-center"
          [ngClass]="
            rspMsg?.type == 'error' ? 'text-red-500' : 'text-green-500'
          "
        >
          <small @fadeIn> {{ rspMsg?.message }} </small>
        </div>
        <button
          type="submit"
          [disabled]="isLoading || !email.length || !password.length"
          class="bg-amber-600 flex items-center justify-center shadow-md text-sm w-full rounded-md py-2 mt-1 smooth-animate hover:bg-amber-800 text-gray-50"
        >
          <app-spinner-icon
            *ngIf="isLoading"
            className="animate-spin fill-gray-50 stroke-gray-50 w-4 h-4 mr-2"
          ></app-spinner-icon>
          {{ isLoading ? "Please wait" : "Sign In" }}
        </button>
      </form>
    </div>
    <div class="mt-8 text-xs">
      <span class="dark:text-gray-200"> Forgot your password? </span>
      <a routerLink="/auth/forgot-password" class="anchor-link">
        Reset Password
      </a>
    </div>
  </div>
</div>
