<ng-template #portalRef>
  <div
    class="fixed right-0 top-0 bottom-0 sm:w-96 w-full modal-container-bg shadow-t-3xl"
    @swipeInOut
    portalBackdropClick
    [overlayRef]="overlayRef"
    (callback)="onBackdropClick.emit()"
  >
    <header class="p-3 flex items-center justify-between modal-header-bg">
      <p>
        {{ formType === "add" ? "Add New Language" : "Edit Language Details" }}
      </p>
      <button (click)="onBackdropClick.emit()" [disabled]="submitting">
        <app-close-icon
          className="fill-gray-50 stroke-gray-50 w-5 h-5 hover:scale-110 smooth-animate"
        ></app-close-icon>
      </button>
    </header>
    <div class="p-3">
      <small>
        If you would like to
        {{ formType === "add" ? "add new" : "edit" }} language spoken by doctor,
        you can {{ formType === "add" ? "fill" : "make changes to" }} the form
        below and submit.
      </small>
    </div>
    <form class="p-4" (ngSubmit)="handleOnSubmit()">
      <app-common-input
        [showError]="showErrors"
        labelName="Name"
        guideLine="Name of the language"
        placeholder="Enter language name"
        [fc]="languageForm.controls.name"
        [errors]="errors.name"
      ></app-common-input>
      <app-common-input
        [showError]="showErrors"
        labelName="Localised text"
        guideLine="Localised text of the language"
        placeholder="Enter localised text for the language"
        [fc]="languageForm.controls.locale_name"
        [errors]="errors.locale_name"
      ></app-common-input>

      <hr class="my-2 opacity-50" />
      <app-message-tag
        [response]="response"
        (onEnd)="response = null"
        className="text-center text-sm min-h-[20px]"
      ></app-message-tag>

      <div class="flex space-x-2 mt-2">
        <button
          [disabled]="submitting"
          type="submit"
          class="action-btn px-4 py-1 rounded-md text-sm flex items-center space-x-2"
        >
          <app-spinner-icon *ngIf="submitting"></app-spinner-icon>
          <span> Sumit </span>
        </button>
        <button
          [disabled]="submitting"
          type="button"
          (click)="onBackdropClick.emit()"
          class="ghost-btn px-4 py-1 rounded-md text-sm"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
