<section aria-describedby="Doctors List View" @fadeInOut>
  <app-breadcrumb-component [paths]="breadcrumbPaths" className="py-3 mt-2">
  </app-breadcrumb-component>

  <div
    class="dark:bg-gray-700 bg-gray-50 rounded-lg shadow-lg my-4 overflow-hidden p-3"
  >
    <div class="flex space-x-4">
      <app-dropzone-component
        [isMulti]="false"
        dropfileType="image"
        accept="image/*"
        (onChange)="handleProfilePicChange($event)"
        *ngIf="profilePic == null"
        @fadeIn
      >
        <div
          class="w-40 h-40 sm:dark:bg-gray-500 sm:bg-indigo-100 sm:shadow-md rounded-md p-2 smooth-animate hover:scale-105 flex flex-col items-center justify-center"
          role="button"
        >
          <p class="text-xs dark:text-gray-100 text-gray-900 text-center">
            Doctor's profile picture
          </p>
          <app-image-icon
            className="w-12 h-12 dark:fill-gray-100 dark:stroke-gray-100 fill-gray-600 stroke-gray-600 mx-auto my-4"
          ></app-image-icon>
          <small
            class="text-xs block dark:text-gray-300 text-gray-600 text-center"
          >
            Drop / click here to select
          </small>
        </div>
      </app-dropzone-component>

      <div
        class="w-40 h-40 rounded-md shadow-md overflow-hidden relative"
        @fadeIn
        *ngIf="profilePic"
      >
        <img
          src="/assets/img-placeholder.png"
          alt=""
          blobImageViewer
          [file]="profilePic"
          class="object-cover h-full w-full"
        />
        <div class="absolute bottom-0 left-0 right-0">
          <button
            class="action-btn px-4 py-1.5 text-xs rounded-md w-full"
            (click)="profilePic = null"
          >
            Remove / Change
          </button>
        </div>
      </div>

      <div class="my-auto">
        <h2 class="text-lg font-medium" @fadeIn>{{ getFormValue("name") }}</h2>
        <small class="block text-xs mb-0.5" @fadeIn>{{
          getFormValue("professional_title")
        }}</small>
      </div>
    </div>
    <form
      [formGroup]="doctorForm"
      (ngSubmit)="onFormSubmit(doctorForm)"
      autocomplete="off"
    >
      <div
        class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-4 gap-x-4 gap-y-1"
      >
        <app-common-input-component
          [errors]="errors.name"
          [fc]="doctorForm.controls?.['name']"
          [showError]="shouldShowError"
          labelName="Name"
          htmlFor="name"
          guideLine="Provide doctor's full name"
          placeholder="Enter doctor's full name"
          tabindex="0"
        ></app-common-input-component>
        <app-common-input-component
          [errors]="errors.email"
          [fc]="doctorForm.controls?.['email']"
          [showError]="shouldShowError"
          labelName="Email"
          htmlFor="email"
          guideLine="Confirmation email will be sent to this address"
          placeholder="Enter doctor's email address"
          type="email"
        ></app-common-input-component>
        <app-phone-input-component
          [errors]="errors.phone_number"
          [fc]="doctorForm.controls?.['phone_number']"
          [fcPhoneCode]="doctorForm.controls?.['phone_code']"
          [showError]="shouldShowError"
          labelName="Phone Number"
          htmlFor="phone_number"
          guideLine="This phone number will be used for primary login."
          placeholder="Enter doctor's phone number"
        >
        </app-phone-input-component>
        <app-common-input-component
          [errors]="errors.professional_title"
          [fc]="doctorForm.controls?.['professional_title']"
          [showError]="shouldShowError"
          labelName="Professional title"
          htmlFor="professional_title"
          guideLine="Provide doctor's professional title"
          placeholder="Enter doctor's professional title"
        ></app-common-input-component>

        <app-select-input-component
          [errors]="errors.consultation_type_id"
          [fc]="doctorForm.controls?.['consultation_type_id']"
          [showError]="shouldShowError"
          labelName="Consultation type"
          htmlFor="consultation_type_id"
          guideLine="Type of consultation"
          placeholder="Select doctor's consultation type"
          [isAsync]="false"
          [options]="consultationTypeOptions"
          (onChange)="onConsultationTypeSelect($event.value)"
        ></app-select-input-component>

        <app-select-input-component
          [fc]="doctorForm.controls?.['hospital_id']"
          [showError]="false"
          labelName="Hospital"
          htmlFor="hospital_id"
          guideLine="Doctor's workplace (optional)"
          placeholder="Select / Add doctor's hospital"
          [isAsync]="true"
          [options]="hospitalOptions"
          searchPlaceholder="Search hospital name"
          [isLoading]="hospitalsLoading"
          [hasNext]="nextHospitalsPaginateId != null"
          (loadMore)="loadMoreHospitals()"
          (onSearch)="onHospitalSearch($event)"
          (onChange)="onHospitalSelect($event)"
        ></app-select-input-component>

        <app-common-input-component
          [errors]="errors.education"
          [fc]="doctorForm.controls?.['education']"
          [showError]="shouldShowError"
          labelName="Education"
          htmlFor="education"
          guideLine="*Provide with comma separated by space"
          placeholder="Enter doctor's education (MBBS, MD)"
        ></app-common-input-component>
        <app-common-input-component
          [errors]="errors.experience"
          [fc]="doctorForm.controls?.['experience']"
          [showError]="shouldShowError"
          labelName="Experience"
          htmlFor="experience"
          guideLine="Provide doctor's experience in years"
          placeholder="Enter doctor's experience"
        ></app-common-input-component>

        <app-select-input-component
          labelName="Speciality"
          guideLine="Doctor's speciality (*required for schedule type)"
          placeholder="Select / Add doctor's speciality"
          [isAsync]="true"
          searchPlaceholder="Search speciality title"
          [options]="specialityOptions"
          [hasNext]="specialityHasNext != null"
          [isLoading]="specialityLoading"
          (loadMore)="loadMoreSpecialities()"
          (onSearch)="onSpecialitySearch($event)"
          (onChange)="onSpecialitySelect($event)"
          [errors]="errors.speciality_id"
          htmlFor="speciality_id"
          [fc]="doctorForm.controls?.['speciality_id']"
          [showError]="false"
        >
        </app-select-input-component>

        <app-select-input-component
          labelName="Language(s)"
          guideLine="Languages doctor can communicate with"
          placeholder="Select / Add language"
          [isAsync]="true"
          searchPlaceholder="Search language"
          [options]="languagesOptions"
          [hasNext]="languagesHasNext != null"
          [isLoading]="languagesLoading"
          (loadMore)="loadMoreLanguges()"
          (onSearch)="onLanguageSearch($event)"
          (onChange)="onLanguageSelect($event)"
          [isMulti]="true"
          [multiInputIgnoreKeys]="['add_new']"
          htmlFor="spoken_language_id"
          [fc]="doctorForm.controls?.['spoken_language_id']"
          [showError]="shouldShowError"
          [errors]="errors.spoken_language_id"
        >
        </app-select-input-component>

        <app-select-input-component
          labelName="Status"
          guideLine="Choosing active will skip activation email. (optional)"
          placeholder="Doctor active status"
          htmlFor="doctor_status"
          [fc]="doctorForm.controls.is_active"
          [options]="activeStatusOptions"
          (onChange)="doctorForm.controls.is_active.setValue($event.value)"
          [defaultValue]="doctorForm.controls.is_active.value"
        >
        </app-select-input-component>
      </div>

      <hr class="my-10 opacity-50" />
      <app-message-tag-component
        [response]="response"
        (onEnd)="response = null"
        className="text-center text-sm min-h-[20px]"
      ></app-message-tag-component>
      <button
        type="submit"
        class="action-btn text-sm px-4 py-1.5 rounded-md mx-auto block mt-4"
      >
        Add Doctor
      </button>
    </form>
  </div>
</section>
