<div
  class="relative"
  #inputPosRef
  (click)="$event.stopPropagation(); !showOption && showOptions()"
>
  <input
    type="text"
    [placeholder]="placeHolder"
    class="common-input input-focus input-colors text-xs p-2 rounded-md"
    readonly
    [(ngModel)]="selectedValue"
  />
  <button class="absolute top-0 right-1 bottom-0 flex items-center">
    <app-chevron-icon
      className="rotate-90
      w-4 h-4 dark:fill-gray-50/50 dark:stroke-gray-50/50"
    ></app-chevron-icon>
  </button>
</div>
<ng-template #optionsRef>
  <div
    *ngIf="showOption"
    @openClose
    class="fixed max-h-[160px] dark:bg-gray-700 bg-gray-50 rounded-lg shadow-2xl overflow-y-auto inner-scrollbar"
    [ngStyle]="renderPosition"
    clickOutside
    (callback)="hideOptions(!$event)"
  >
    <div class="flex flex-col">
      <button
        *ngFor="let option of options"
        (click)="selectAnOption(option)"
        [title]="option.title"
        class="bg-sky-200/10 hover:bg-sky-400/30 smooth-animate border-b text-start p-2 text-xs border-gray-200/10 cut-text-1"
      >
        {{ option.title }}
      </button>
    </div>
  </div>
</ng-template>
