{{define "base"}}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>{{.MetaInfo.MetaTitle}}</title>
  </head>

  <body>
    <div style="display: none; width: 0; height: 0; visibility: hidden">
      {{.NotificationPreviewMsg}}
    </div>
    <div>
      {{template "main" .}}
    </div>
    <footer>
      {{.FooterMessage}}
    </footer>
  </body>
</html>
{{ end }}
