<div>
  <label [for]="htmlFor" class="text-xs font-semibold">{{ labelName }}</label>
  <small class="block text-xs mb-2 opacity-70" *ngIf="guideLine">
    {{ guideLine }}
  </small>
  <div
    class="relative"
    (click)="$event.stopPropagation(); showOptions = !showOptions"
    #portalPostionRef
    clickOutside
    (callback)="showOptions = false"
  >
    <input
      [type]="type"
      name="htmlFor"
      [ngModel]="isMulti ? '' : selectOptionValue"
      autocomplete="off"
      readonly
      class="common-input w-full input-focus input-colors p-2 rounded-md text-sm shadow-md"
      [placeholder]="multipleOptions.length ? '' : placeholder"
      [ngClass]="
        showError
          ? fc?.invalid
            ? '!border-red-500/70'
            : '!border-green-500/70'
          : ''
      "
    />

    <!-- Multiple Options  -->
    <div
      class="flex absolute top-0 left-2 right-8 bottom-0 items-center overflow-y-auto inner-scrollbar space-x-2"
      *ngIf="isMulti && multipleOptions.length"
      (click)="$event.stopPropagation()"
      @fadeIn
    >
      <div
        *ngFor="let mlopt of multipleOptions"
        class="hover:bg-sky-700/80 bg-sky-700/40 drop-shadow-2xl shadow-lg rounded-md px-2 py-0.5 flex items-center smooth-animate"
        @fadeIn
        scrollIntoView
        [viewOptions]="multiViewScrollViewOptions"
      >
        <small class="block text-sm">
          {{ mlopt.title }}
        </small>
        <button
          tabindex="-1"
          type="button"
          (click)="removeSelection(mlopt)"
          class="smooth-animate hover:scale-110 border border-gray-50/30 rounded-md bg-red-500 ml-2"
        >
          <app-close-icon
            className="w-4 h-4 fill-gray-50 stroke-gray-50"
          ></app-close-icon>
        </button>
      </div>
    </div>

    <button
      type="button"
      tabindex="-1"
      class="absolute top-0 right-1 bottom-0 flex items-center"
    >
      <app-chevron-icon
        className="rotate-90
      w-4 h-4 dark:fill-gray-50/50 dark:stroke-gray-50/50"
      ></app-chevron-icon>
    </button>
  </div>
  <div class="min-h-[18px] mt-0.5 smooth-animate">
    <small
      class="block text-red-500 text-xs"
      *ngIf="fc?.invalid && showError"
      @fadeIn
    >
      {{ parseError }}
    </small>
  </div>
</div>

<app-select-input-options-component
  [showOptions]="showOptions"
  [renderPosition]="portalPostionRef.getBoundingClientRect()"
  [options]="selectOptions"
  [placeholder]="searchPlaceholder"
  [loading]="isLoading"
  [hasMore]="hasNext"
  (loadMore)="loadMore.emit()"
  (onSearch)="onSearch.emit($event)"
  (onChange)="onSelect($event); (isMulti)"
  [isAsync]="isAsync"
></app-select-input-options-component>
