<ng-template #themePortal>
  <div
    class="fixed bottom-2 right-2 bg-white px-4 py-2 rounded-md shadow-2xl"
    @backInRight
  >
    <p>Choose a style</p>
    <span class="text-xs block text-gray-500">
      Pop or subtle. day or night.
    </span>
    <span class="text-xs block text-gray-500"> Customise your interface </span>

    <div
      class="flex text-xs mt-2 items-center justify-center border rounded-full bg-gray-200"
    >
      <button
        (click)="setTheme('light')"
        class="p-1.5 rounded-full w-full transform transition-colors will-change-transform duration-500"
        [ngClass]="{ 'bg-white shadow-t-3xl': selectedTheme == 'light' }"
      >
        Light
      </button>
      <button
        (click)="setTheme('dark')"
        class="p-1.5 rounded-full w-full transform transition-colors will-change-transform duration-500"
        [ngClass]="{ 'bg-white shadow-t-3xl': selectedTheme == 'dark' }"
      >
        Dark
      </button>
    </div>
  </div>
</ng-template>
