{{define "content"}}

<!-- heading -->
<h1>{{.Title}}</h1>

<table>
  <thead>
    <!--  -->
  </thead>
  <tbody></tbody>
</table>

<p>
  {{.Description}}
</p>

<a href="link">Download your invoice</a>

{{ end }}
