{{define "content"}}

<!-- heading -->
<h1>Welome to online consultation</h1>

<p>
  {{.Profile.Name}} (<small style="font-size: 8px">{{.Profile.Role}}</small
  >)
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa vitae sequi
  possimus! Porro, tenetur? Tempore quisquam animi tempora nulla! Eligendi neque
  aspernatur sed officiis facilis. Id illum provident obcaecati quibusdam.
</p>

<a href="{{.ActivateAccountLink}}">Activate your account</a>

{{ end }}
