<div
  class="dark:bg-gray-900 bg-indigo-100 h-screen w-screen flex items-center justify-center"
>
  <app-email-sent-component
    *ngIf="showSentView"
    [title]="resetSuccessMsgs.title"
    [description]="resetSuccessMsgs.message"
    @fadeIn
  ></app-email-sent-component>

  <div class="flex flex-col items-center" @fadeIn *ngIf="!showSentView">
    <img
      class="shadow-xl rounded-full mb-8"
      src="/assets/brand.png"
      alt="brand_logo"
      width="64"
      height="64"
    />

    <div
      class="sm:dark:bg-gray-700 sm:bg-gray-100/60 sm:shadow-lg rounded-md p-6"
    >
      <h1 class="text-lg dark:text-gray-100 text-center font-semibold">
        Forgot Password
      </h1>
      <p class="text-gray-500 dark:text-gray-300 text-xs mt-1 text-center">
        Please enter your email address to recieve reset password link.
      </p>
      <form class="mt-5" (ngSubmit)="handleRequestResetLink()">
        <div class="relative">
          <div class="px-2 absolute left-0 top-0 bottom-0 flex items-center">
            <app-mail-icon
              class="z-10"
              className="w-5 h-5 dark:stroke-gray-500 dark:fill-gray-500 fill-black stroke-black"
            ></app-mail-icon>
          </div>
          <input
            [disabled]="false"
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Enter your email or username"
            class="w-full py-2 dark:placeholder:text-gray-400 dark:text-gray-50 bg-transparent common-input input-focus pl-8 rounded-md text-sm"
          />
        </div>

        <div
          class="min-h-[25px] mt-1 text-center"
          [ngClass]="
            rspMsg?.type == 'error' ? 'text-red-500' : 'text-green-500'
          "
        >
          <small *ngIf="rspMsg" @fadeIn> {{ rspMsg.message }} </small>
        </div>
        <button
          type="submit"
          [disabled]="isLoading || !email.length"
          class="bg-amber-600 flex items-center justify-center shadow-md text-sm w-full rounded-md py-2 mt-1 smooth-animate hover:bg-amber-800 text-gray-50"
        >
          <app-spinner-icon
            *ngIf="isLoading"
            className="animate-spin fill-gray-50 stroke-gray-50 w-4 h-4 mr-2"
          ></app-spinner-icon>
          {{ isLoading ? "Please wait" : "Send Reset Link" }}
        </button>
      </form>
    </div>
    <div class="mt-8 text-xs">
      <span class="dark:text-gray-200"> Go back to login? </span>
      <a
        routerLink="/auth/login"
        class="dark:text-blue-300 dark:hover:text-blue-500 text-blue-700 smooth-animate hover:text-blue-500"
      >
        Click here
      </a>
    </div>
  </div>
</div>
