<section aria-describedby="Doctors List View" @fadeInOut>
  <app-breadcrumb-component [paths]="breadcrumbPaths" className="py-3 mt-2">
  </app-breadcrumb-component>

  <!-- Search Filters -->
  <div
    class="dark:bg-gray-700 bg-gray-50 rounded-lg shadow-lg my-4 overflow-hidden p-3"
  >
    <h2 class="font-semibold mb-3">Search Filter</h2>
    <div class="grid grid-cols-3 gap-4">
      <app-select-dropdown
        placeHolder="Select Speciality"
        [options]="specialities"
        (onChange)="onSpecialityFilter($event)"
      ></app-select-dropdown>
      <app-select-dropdown
        placeHolder="Select Consultation Type"
      ></app-select-dropdown>
      <app-select-dropdown placeHolder="Select Status"></app-select-dropdown>
    </div>
  </div>

  <div
    class="dark:bg-gray-700 bg-gray-50 rounded-lg shadow-lg mt-2 overflow-hidden"
  >
    <header class="p-3 flex justify-between items-center">
      <app-per-page-component
        [options]="limitOptions"
        [defaultSelected]="perPage"
        (onChange)="updatePerPageLimit($event)"
      ></app-per-page-component>
      <div class="flex space-x-3 items-center">
        <div class="md:w-96">
          <input
            type="text"
            name="search"
            placeholder="Search"
            autocomplete="off"
            class="common-input input-focus input-colors p-1.5 rounded-lg text-sm"
          />
        </div>

        <button class="action-btn px-3 py-2 text-sm rounded-lg">
          Add new doctor
        </button>
      </div>
    </header>

    <app-doctor-list-data-component
      [doctors]="doctors"
    ></app-doctor-list-data-component>
  </div>
</section>
