<section aria-describedby="Doctors List View" @fadeInOut>
  <app-breadcrumb-component [paths]="breadcrumbPaths" className="py-3 mt-2">
  </app-breadcrumb-component>

  <!-- Search Filters -->
  <div
    class="dark:bg-gray-700 bg-gray-50 rounded-lg shadow-lg my-4 overflow-hidden p-3"
  >
    <h2 class="font-semibold mb-3">Search Filter</h2>
    <div class="grid grid-cols-3 gap-4">
      <app-select-dropdown
        placeHolder="Select Speciality"
        [options]="specialities"
        (onChange)="onSpecialityChanegFilter($event)"
      ></app-select-dropdown>
      <app-select-dropdown
        placeHolder="Select Consultation Type"
        [options]="consultationTypes"
        (onChange)="onConsultationChangeFilter($event)"
      ></app-select-dropdown>
      <app-select-dropdown
        [options]="activeStatus"
        placeHolder="Select Status"
        (onChange)="onActiveStatusChangeFilter($event)"
      ></app-select-dropdown>
    </div>
  </div>

  <div
    class="dark:bg-gray-700 bg-gray-50 rounded-lg shadow-lg mt-2 overflow-hidden"
  >
    <header class="p-3 flex justify-between items-center">
      <app-per-page-component
        [defaultSelected]="perPage"
        (onChange)="updatePerPageLimit($event)"
      ></app-per-page-component>
      <div class="flex space-x-3 items-center">
        <div class="md:w-96">
          <input
            type="text"
            name="search"
            placeholder="Search"
            [ngModel]="searchTerm"
            (ngModelChange)="onSearch($event)"
            autocomplete="off"
            class="common-input w-full input-focus input-colors p-1.5 rounded-lg text-sm"
          />
        </div>

        <a
          role="button"
          routerLink="/doctors/add"
          class="action-btn px-3 py-2 text-sm rounded-lg"
        >
          Add new doctor
        </a>
      </div>
    </header>

    <app-doctors-list-skeleton-component
      *ngIf="isLoading"
    ></app-doctors-list-skeleton-component>

    <app-doctor-list-data-component
      *ngIf="!isLoading"
      [doctors]="doctors"
    ></app-doctor-list-data-component>

    <!-- Pagination Controls -->
    <div class="my-1 p-2 flex justify-between items-center" *ngIf="!isLoading">
      <app-pagination-count-display-component
        [totalCount]="totalCount"
        [startCount]="doctors.length ? (pageNum - 1) * perPage + 1 : 0"
        [endCount]="(pageNum - 1) * perPage + doctors.length || 0"
      ></app-pagination-count-display-component>
      <app-pagination-controls-component
        [pageNum]="pageNum"
        nextPageLink="/doctors"
        [paginateId]="paginateId"
      ></app-pagination-controls-component>
    </div>

    <div class="my-1 p-2 flex justify-between items-center" *ngIf="isLoading">
      <app-pagination-count-skeleton-component></app-pagination-count-skeleton-component>
      <app-pagination-controls-skeleton-component></app-pagination-controls-skeleton-component>
    </div>
  </div>
</section>
