<section aria-describedby="Doctors List View" @fadeInOut>
  <app-breadcrumb [paths]="breadcrumbPaths" className="py-3 mt-2">
  </app-breadcrumb>

  <!-- Search Filters -->
  <div
    class="dark:bg-gray-700 bg-gray-50 rounded-lg shadow-lg my-4 overflow-hidden p-3"
  >
    <h2 class="font-semibold mb-3">Search Filter</h2>
    <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
      <app-select-input
        placeholder="Select Speciality"
        [options]="specialities"
        (onChange)="onSpecialityChangeFilter($event)"
      >
      </app-select-input>
      <app-select-input
        placeholder="Select Consultation Type"
        [options]="consultationTypes"
        (onChange)="onConsultationChangeFilter($event)"
      ></app-select-input>
      <app-select-input
        [options]="activeStatus"
        placeholder="Select Status"
        (onChange)="onActiveStatusChangeFilter($event)"
      ></app-select-input>
    </div>
  </div>

  <div
    class="dark:bg-gray-700 bg-gray-50 rounded-lg shadow-lg mt-2 overflow-hidden"
  >
    <div class="overflow-x-auto inner-scollbar">
      <header class="p-3 flex justify-between items-center min-w-[600px]">
        <app-per-page
          [defaultSelected]="perPage"
          (onChange)="updatePerPageLimit($event)"
        ></app-per-page>
        <div class="flex space-x-3 items-center">
          <div class="md:w-96 relative">
            <input
              type="text"
              name="search"
              placeholder="Search"
              [ngModel]="searchTerm"
              (ngModelChange)="onSearch($event)"
              autocomplete="off"
              class="common-input w-full input-focus input-colors p-1.5 pl-7 rounded-lg text-sm"
            />
            <div class="absolute left-2 top-0 bottom-0 flex items-center">
              <app-search-icon
                className="w-4 h-4 dark:fill-gray-300 dark:stroke-gray-300 stroke-gray-700 fill-gray-700 "
              ></app-search-icon>
            </div>
          </div>

          <a
            role="button"
            routerLink="/doctors/add"
            class="action-btn px-3 py-2 text-sm rounded-lg whitespace-nowrap"
          >
            Add new doctor
          </a>
        </div>
      </header>
    </div>

    <app-doctors-list-skeleton *ngIf="isLoading"></app-doctors-list-skeleton>

    <app-doctor-list-data
      *ngIf="!isLoading"
      [doctors]="doctors"
    ></app-doctor-list-data>

    <!-- Pagination Controls -->
    <div class="my-1 p-2 flex justify-between items-center" *ngIf="!isLoading">
      <app-pagination-count-display
        [totalCount]="totalCount"
        [startCount]="doctors.length ? (pageNum - 1) * perPage + 1 : 0"
        [endCount]="(pageNum - 1) * perPage + doctors.length || 0"
      ></app-pagination-count-display>
      <app-pagination-controls
        [pageNum]="pageNum"
        nextPageLink="/doctors"
        [paginateId]="paginateId"
      ></app-pagination-controls>
    </div>

    <div class="my-1 p-2 flex justify-between items-center" *ngIf="isLoading">
      <app-pagination-count-skeleton></app-pagination-count-skeleton>
      <app-pagination-controls-skeleton></app-pagination-controls-skeleton>
    </div>
  </div>
</section>
